<div id="<%= dom_id article %>">
    <h2><%= article.title %></h2>
    <%= article.body %>
    <% @article.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
</div>
